<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul{
            width:100%;
            background-color: black;
            padding:20px;
        }
        ul li{
            display: inline;
        }
        ul li a{
            color:white;
            text-decoration: none;
            padding:10px;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/search">Search</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="">Search</a></li>
    </ul>
</body>
</html>